/* Custom CSS styles */
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.input-field:focus {
    outline: none;
    border-color: #4b7bec;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

#emiResult {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.information{
    margin-bottom: 45px;
}
